<h1>Dashboard</h1>

<a href="/clientes"><button type="button">Verificar clientes</button></a>
<a href="/vendedors"><button type="button">Verificar vendedores</button></a>
<a href="/vendas"><button type="button">Verificar vendas</button></a>

<br /><br />

<a href="/home/add_venda"><button type="button">Nova venda</button></a>
